body{
    background-image: url(https://pbs.twimg.com/media/EVLz1SnU0AAJxx7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#player1{
    float: left;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}

#player2{
    float: left;
    transition: 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}